flows (1).json
[{"id":"2a73ec1b.482cd4","type":"tab","label":"Life expectancy prediction","disabled":false,"info":""},{"id":"ecc6c19.54ae24","type":"ui_form","z":"2a73ec1b.482cd4","name":"","label":"","group":"aea0a051.1c4f8","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"BMI","value":"d","type":"number","required":true,"rows":null},{"label":"Adult_Mortality","value":"e","type":"number","required":true,"rows":null},{"label":"Infant_Deaths","value":"f","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"g","type":"number","required":true,"rows":null},{"label":"Percentage_Expenditure","value":"h","type":"number","required":true,"rows":null},{"label":"Hepatitis_B","value":"i","type":"number","required":true,"rows":null},{"label":"Under_Five_Deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total_Expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness_10_19_years","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness_5_9_years","value":"r","type":"number","required":true,"rows":null},{"label":"Income_Composition_of_Resources","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null},{"label":"Measles","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["2581430e.fa9acc"]]},{"id":"2581430e.fa9acc","type":"function","z":"2a73ec1b.482cd4","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"SFJpHcbqxrreqxfu7M9bmRwzbxAAyxXC0WqrpSUgB1TH\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["68f9b6f5.6629b8"]]},{"id":"d0bd0ff8.0fad8","type":"http request","z":"2a73ec1b.482cd4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/6cb0922e-0cad-44a2-ba3f-7b9513fc8e88/deployments/64480a8a-cdb4-4570-bc5c-1ff9383cd2e4/online","tls":"","persist":false,"proxy":"","authType":"basic","x":590,"y":260,"wires":[["f34930ff.553f4","70dc8ab9.2f79b4"]]},{"id":"fc31b812.1eeac8","type":"debug","z":"2a73ec1b.482cd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":320,"wires":[]},{"id":"70dc8ab9.2f79b4","type":"function","z":"2a73ec1b.482cd4","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":380,"wires":[["fc31b812.1eeac8","7e2b41ee.8d2f6"]]},{"id":"f34930ff.553f4","type":"debug","z":"2a73ec1b.482cd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":140,"wires":[]},{"id":"e1d71ec4.a3f3c","type":"function","z":"2a73ec1b.482cd4","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"6cb0922e-0cad-44a2-ba3f-7b9513fc8e88\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Country\", \"Year\", \"Status\", \n\"BMI\", \"Adult_Mortality\", \"Infant_Deaths\", \"Alcohol\", \"Percentage_Expenditure\", \"Hepatitis_B\", \"Under_Five_Deaths\", \"Polio\", \"Total_Expenditure\", \"Diphtheria\", \"HIV/AIDS\", \"GDP\",\"Population\", \"Thinness_10_19_years\", \"Thinness_5_9_years\",\n \"Income_Composition_of_Resources\", \"Schooling\", \"Measles\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["d0bd0ff8.0fad8"]]},{"id":"68f9b6f5.6629b8","type":"http request","z":"2a73ec1b.482cd4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":530,"y":100,"wires":[["e1d71ec4.a3f3c"]]},{"id":"7e2b41ee.8d2f6","type":"ui_text","z":"2a73ec1b.482cd4","group":"aea0a051.1c4f8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":440,"wires":[]},{"id":"aea0a051.1c4f8","type":"ui_group","z":"","name":"Life Expectancy Prediction","tab":"ac5d7051.709f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac5d7051.709f4","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]